.m-manage {
  border: 1px solid #333;
  width: 380px;
  padding: 20px 10px;
  position: relative;
}

.u-content {
  display: flex;
  border: 1px solid #333;
  height: 30px;
  margin-top: 5px;
}

.u-no {
  border-right: 1px solid #333;
  text-align: center;
  width: 35px;
  height: 30px;
  line-height: 30px;
}

.u-info {
  width: 290px;
}

.u-del {
  cursor:pointer;
  border-left: 1px solid #333;
  text-align: center;
  width: 65px;
  line-height: 30px;
}

.u-add {
  cursor:pointer;
  height: 35px;
  width: 95px;
  border: 1px solid #333;
  background: #339966;
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin: 20px 0px 0px 283px;
} 
